body {
  overflow-x: hidden;
}

.btn-toggle {
  z-index: 1001;
  position: relative;
  float: right;
  color: #000;
}

#wrapper {
  padding: 0px 25px 20px 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 500;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  background: #D32323;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

#sidebar-nav-wrapper {
  position: absolute;
  top: 10px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  font-family: Oswald;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

@media(min-width:768px) {
  .btn-toggle {
    right: -70px;
    top: 30px;
  }

  #wrapper {
    padding-left: 320px;
  }

  #wrapper.toggled {
    padding-left: 20px;
  }

  #sidebar-wrapper, #sidebar-nav-wrapper {
    width: 300px;
  }

  #wrapper.toggled #sidebar-wrapper, #wrapper.toggled #sidebar-nav-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}