body{
	background-color: #fffef4;
	text-align: center;
  padding-bottom: 85px;
}

h1,h2,h3,h4,h5,h6{
  font-family: Oswald;
}

h1{
	padding-bottom: 20px;
}

h2{
  padding-bottom: 20px;
  text-decoration: underline; 
}

h5{
  font-size: 18px;
}
h6{
  font-size: 16px;
}

p{
  font-size: 16px;
  font-family: Lato;
}

li{
  font-size: 16px;
}

.title-nav{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  position: fixed; 
  background-color: #D32323; 
  color: #fff; 
  z-index: 1; 
  width: 100%; 
  left: 0px; 
  top: 0px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
    padding: 8px;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-caption {
    padding: 2px 16px;
}

.floating-logo{
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 100px;
	z-index: 1;
}

.process{
  padding-top: 2px;
}

h3{
  padding: 8px;
}
code{
  text-align: left;
}
input{
    border: 2px solid #D32323;
    border-radius: 4px;
    width: 80px;
}